body 
{
    text-align: center;
    background-image: url(Wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@font-face
{
    font-family: FrizQuad;
    src: url(FrizQuad.otf);
}

@font-face
{
    font-family: CompMod;
    src: url(CompMod.ttf);
}


h1 
{
    font-family: FrizQuad;
}

p
{
    font-family: CompMod;
}