body 
{
    background-image: url(../Images/Wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    transform: translateY(+0%);
    text-align: center;
    margin:0;
}

@font-face
{
    font-family: FrizQuad;
    src: url(../Font/FrizQuad.otf);
}

@font-face
{
    font-family: CompMod;
    src: url(../Font/CompMod.ttf);
}

h1 
{
    font-family: FrizQuad;
}

p
{
    font-family: CompMod;
    margin: 10px;
}

#rectangle{
    width:0px;
    height:70px;
    background:white;
}

.who_am_i
{
    margin-top: 42px;
}

.navbar ul
{
    margin-top: -21px;
    list-style-type: none;
    padding: 0px;
}

.navbar a
{
    color: black;
    text-decoration: none;
    font-family: CompMod;
    text-align: center;
    padding: 5px;
}

.navbar a:hover
{
    color: #3A54A4;
}

.navbar li
{
    display: inline-block;
}


