p.justified_text
{
    font-size: 21px;
    text-align: justify;
    margin: 21px;
    animation: TransitionIn 1s;
}

p.title
{
    font-size: 30px;
}

p.references
{
    text-align: left;
    margin: 7px;
}

a.references
{
    color: #3A54A4;
    text-decoration: none;
    font-size: 21px;
    animation: TransitionIn 1s;
}

.content {
    animation: TransitionIn 0.5s;
    width: 73%;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    padding: 30px; 
    overflow-y: auto; 
    max-height: 75vh; 
    background-color: rgba(255, 255, 255, 0.95); 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

img.Fig1 {
    width: 35%;
}

img.Fig2 {
    width: 90%;
}

img.Fig3 {
    width: 70%;
}

img.Fig4 {
    width: 50%;
}

img.Fig5 {
    width: 70%;
}

img.Fig6 {
    width: 35%;
}

.pdf-container {
    margin-top: 20px;
    width: 750px;
    height: 750px;
    background-color: white;
    border: 1px solid #ccc;
    display: none; /* Hidden by default */
}

.content lii a {
    text-decoration: none;
    color: #3A54A4;
    font-family: CompMod;
    display: inline-block;
    font-size: 21px;
}

@media (max-width: 700px) {

    img.Fig1 {
        width: 90%;
    }
    
    img.Fig2 {
        width: 90%;
    }
    
    img.Fig3 {
        width: 90%;
    }
    
    img.Fig4 {
        width: 90%;
    }
    
    img.Fig5 {
        width: 90%;
    }
    
    img.Fig6 {
        width: 90%;
    }

    p.justified_text
    {
        font-size: 17px;
        text-align: justify;
        animation: TransitionIn 1s;
    }

    p.title
    {
        font-size:25px;
    }

    a.references
    {
        color: #3A54A4;
        text-decoration: none;
        font-size:17px;
        animation: TransitionIn 1s;
    }

    .content {
        animation: TransitionIn 0.5s;
        width: 83%;
        position: relative;
        left: 50%; 
        transform: translateX(-50%);
        padding: 15px; 
        overflow-y: auto; 
        max-height: 75vh; 
        background-color: rgba(255, 255, 255, 0.95); 
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    }

}
