p.PM_M31M33
{
    text-align: justify;
    margin: 20px;
}

.content {
    width: 73%;
    position: absolute; /* Position the content absolutely within the background */
    top: 10; /* Position the content at the top of the background */
    left: 50%; /* Position the content in the center horizontally */
    transform: translateX(-50%); /* Center the content horizontally */
    padding: 20px; /* Add padding as needed */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
    max-height: 70vh; /* Limit the height of the content to 80% of the viewport height */
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent white background */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

img {
    width: 95%; /* Set the image width to 100% of its containing block */
}