.image_container {
    padding: 7%;
    display: flex; /* Align images side by side */
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
    gap: 5%; /* Add space between the images */
}

.image {
    max-width: 500px; 
    max-height: 250px;
    border-radius: 21px;
    overflow: hidden;

    position: relative; /* Ensure the text is positioned relative to this container */

    width: 100%; /* Ensure image covers container width */
    aspect-ratio: 2.3 / 1;

    display: flex; /* Apply flexbox to .image */
    justify-content: center; /* Horizontally center the image */
    align-items: center;

    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.image img {
    width: 100%; /* Ensure the images don't overflow their container */
    height: auto;
    border-radius: 21px;
    object-fit: cover;
    transition:0.75s;

    display: block; /* Prevents small gaps below the image */
}

.image:hover img{
    transform: scale(1.2);
}

.text-overlay {
    font-family: CompMod;
    position: absolute;
    top: 13px; 
    right: 13px; 
    text-align: right;
    color: white;
    font-size: 25px;
}

/* Styles for phones */
@media (max-width: 700px) {
    .image_container {
        padding: 3%; 
        display: flex; /* Align images side by side */
        flex-direction: column;
        justify-content: center; /* Center images horizontally */
        align-items: center; /* Center images vertically */
    }
    
    .image {
        width: 90%;
        /* height: 200px; */
        aspect-ratio: 2.5 / 1;
        border-radius: 15px;
        overflow: hidden;

        margin-bottom: 20px; 

        display: flex; /* Apply flexbox to .image */
        justify-content: center; /* Horizontally center the image */
        align-items: center;
    
        position: relative; /* Ensure the text is positioned relative to this container */
    }
    
    .image img {
        width: 50%; /* Ensure the images don't overflow their container */
        height: 50%;
        border-radius: 15px;
        object-fit: cover;
        transition:0.75s;
    
        display: block; /* Prevents small gaps below the image */
        width: 100%; /* Ensures the image scales to the container */
        height: auto;
    }
    
    .image:hover img{
        transform: scale(1.2);
    }
    
    .text-overlay {
        font-family: CompMod;
        position: absolute;
        top: 13px; 
        right: 13px; 
        text-align: right;
        color: white;
        font-size: 21px;
    }
}
